<template>
  <div class="edit-note">
    <AddEditNote
      v-model="noteContent"
      bgColor="link"
      label="Edit note"
      placeholder="Edit note"
      ref="addEditNoteRef"
    >
      <template #buttons>
        <button @click="$router.push('/')" class="button is-link is-light mr-2">
          Cancel
        </button>
        <button
          @click="handleSaveClicked"
          class="button is-link has-background-link"
          :disabled="!noteContent"
        >
          Save Note
        </button>
      </template>
    </AddEditNote>
  </div>
</template>

<script setup>
// imports
import { ref } from "vue";
import { useRoute, useRouter } from "vue-router";
import AddEditNote from "@/components/Notes/AddEditNote.vue";
import { useNotesStore } from "@/stores/useNotesStore";

// router
const route = useRoute();
const router = useRouter();

// store
const notesStore = useNotesStore();

// note
const noteContent = ref("");
noteContent.value = notesStore.getNoteContent(route.params.id);

// save clicked
const handleSaveClicked = () => {
  notesStore.updateNote(route.params.id, noteContent.value);
  router.push("/");
};
</script>
