<template>
  <div class="notes">
    <AddEditNote
      v-model="newNote"
      placeholder="Add a new note"
      ref="addEditNoteRef"
    >
      <template #buttons>
        <button
          @click="addNote"
          :disabled="!newNote"
          class="button is-link has-background-success"
        >
          Add New Note
        </button>
      </template>
    </AddEditNote>

    <NoteComponent
      v-for="note in notesStore.notes"
      :key="note.id"
      :note="note"
    />
  </div>
</template>

<script setup>
// imports
import { ref } from "vue";
import NoteComponent from "../components/Notes/NoteComponent.vue";
import AddEditNote from "../components/Notes/AddEditNote.vue";
import { useNotesStore } from "@/stores/useNotesStore";
import { useWatchCharacters } from "@/use/useWatchCharacters";

// store
const notesStore = useNotesStore();

// notes
const newNote = ref("");
const addEditNoteRef = ref(null);

const addNote = () => {
  notesStore.addNote(newNote.value);
  newNote.value = "";
  addEditNoteRef.value.focusTextarea();
};

// watch characters
useWatchCharacters(newNote);
</script>
